version: '3.8'
services:
  api1: 
    build: .
    environment:
      - HTTP_PORT=3000
      - POOL_SIZE=30
    depends_on:
      - postgres
    network_mode: "host"
  api2: 
    build: .
    environment:
      - HTTP_PORT=3001
      - POOL_SIZE=30
    depends_on:
      - postgres
    network_mode: "host"
  nginx:
    image: nginx
    volumes:
      - .:/etc/nginx/
    depends_on:
      - api1
      - api2
    network_mode: "host"
  postgres:
    image: postgres:16.3
    restart: always
    environment:
      - POSTGRES_USER=lucas
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres:/var/lib/postgresql/data
    network_mode: "host"
volumes:
  postgres:
